footer {
    width: 100%;
    background-color: black;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    padding: 36px;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    box-shadow: 0 -3px 9px black;
}

/* CONTACT INFO BOX */
#contact-box {
    flex: 1 1 300px;
    background-color: white;
    border-radius: 42px;
    padding: 48px 30px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#contact-box h1 {
    display: flex;
    align-items: center;
    font-size: 2rem;
    gap: 15px;
    color: black;
}

/* SEND MESSAGE FORM */
#send-message-box {
    flex: 2 1 400px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: white;
}

.footer-txt-holder {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

/* INPUT STYLES */
#send-message-box input,
#message-input {
    width: 100%;
    background-color: rgb(54, 54, 54);
    border: none;
    border-radius: 6px;
    padding: 12px;
    font-size: 1.1rem;
    color: white;
    font-weight: 500;
    outline: none;
    caret-color: white;
}

#send-message-box input::placeholder,
#message-input::placeholder {
    color: rgb(140, 140, 140);
    font-weight: 300;
}

#message-input {
    height: 200px;
    resize: none;
    border-radius: 12px;
}

/* LABELS */
#send-message-box label {
    font-size: 1.2rem;
    font-weight: 600;
}

/* NAME ROW (2 INPUTS) */
#guest-name-box {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

#guest-name-box input {
    flex: 1 1 100%;
    min-width: 0;
}


/* TOGGLE SECTION */
#toggle-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
}

#toggle-box div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 18px 24px;
}

#toggle-box label {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 1rem;
    font-weight: 400;
}

/* CUSTOM CHECKBOX */
#toggle-box input[type="checkbox"] {
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid white;
    position: relative;
    cursor: pointer;
}

#toggle-box input[type="checkbox"]:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}

/* SUBMIT BUTTON */
footer button {
    align-self: center;
    height: 40px;
    width: 140px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

footer button:hover {
    background-color: white;
    color: black;
}